<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <br>
            <div class="card">
                <div class="card-header"><h1>Ooops !!!</h1></div>
                <div class="card-body">
                    <form action="/" method="get">
                        <div class="mb-3">
                            <h3>Data Tidak di Temukan</h3>
                        </div>
                        <button type="submit" class="btn btn-danger">Kembali</button>
                    </form>
                </div>
            </div>
            <br>
            <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>
